.vscode/settings.json
bin/App.class
bin/CaixaEletronico.class
bin/ExemploFor.class
bin/PlanoOperadora.class
bin/ResultadoEscolar.class
bin/SistamaMedida.class
bin/ExemploBreakContinue.class
bin/ExemploForArray.class
